
    .darkTheme{
        background: #333;
        color: #ccc;
        padding: 2rem;
        margin: 2rem;
    }
    .lightTheme{
        background: #ccc;
        color: #333;
        padding: 2rem;
        margin: 2rem;
    }